@model BibliotecaDeClases.Modelos.Transacciones.DocumentoModel

@{
    ViewBag.Title = "IngresoViajes";
}

<h2>Ingreso Viajes</h2>

<style>
    .form-textbox {
        width: 100%;
        border: none;
        border-bottom: solid;
        border-bottom-color: blue;
        border-width: 2px;
        font-size: 9px;
    }

        .form-textbox:focus {
            outline: none
        }
</style>
<div id="contenedorform" class="contenedorform d-inline-block">
    <form id="formularioViaje" method="post" action="@Url.Action("IngresoViajes")">
        <div class="row align-items-end">

            <div class="col-4 pe-2">
                <label class="form-label">Centro de Costos</label>
                <select class="form-textbox" name="IDCECO" id="IDCECO">
                    <option value="">-Seleccionar-</option>
                    @foreach (var item in Model.ListaCECOsItems)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="col-2 pe-2">
                <label class="form-label">Fecha</label>
                <input type="text" name="Fecha" id="Fecha" autocomplete="off" class="date form-textbox" />
            </div>
            <div class="col-2 pe-2">
                <label class="form-label">M. Pago</label>
                <input name="IDCuentaDB" value="8" class="d-none" />
                <select class="form-textbox" name="IDCuentaCR" id="IDCuentaCR">
                    <option value="">-Seleccionar-</option>
                    @foreach (var item in Model.CuentasCR)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="col-1 pe-2">
                <label class="form-label">Peajes</label>
                <input type="text" class="form-textbox" name="MontoPeaje" id="MontoPeaje" />
            </div>
            <div class="col-1">
                <label class="form-label">Combustible</label>
                <input type="text" class="form-textbox" name="MontoCombustible" id="MontoCombustible" />
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-12">

                <input type="submit" value="Ingresar" class="btn btn-danger" />

            </div>
        </div>

    </form>

    <script>

    </script>
</div>
@Scripts.Render("~/bundles/jqueryval")