@model IEnumerable<AppWebSantaBeatriz.Models.Servicios.TipoServicioModel>

@{
    ViewBag.Title = "VerTiposServicios";
}

<h2>Tipos de Servicios</h2>

<p style="margin-top:25px">
    <a class="btn btn-danger" href="@Url.Action("CreaTipoServicio")">Nuevo</a>

</p>
<table class="table">
    <tr>
        <th width="20%">
           Tipo de Servicio
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>


        <th width="18%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>


            <td>
                <a class="btn btn-danger" href="@Url.Action("EditarTipoServicio", new { id = item.ID })">Editar</a>
                <a class="btn btn-success" href="@Url.Action("EliminarTipoServicio", new { id = item.ID })">Eliminar</a>
            </td>
        </tr>
    }

</table>


