@model BibliotecaDeClases.Modelos.ServicioAutomotriz.NeumaticosModel

@{
    ViewBag.Title = "EditarNeumatico";
}

<head>
    <link href="~/Estilos/SBSACss.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <style>
        .error {
            color: red;
        }

        .errorDiv {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px red;
            border: solid;
            border-color: red;
        }

        .info {
            color: red;
        }
    </style>
</head>

<h2 class="ms-5 mb-5 text-center">Editar Neumatico</h2>



<div class="container-fluid">

    <div class="row">
        <div class="col-sm-6">
            <div class="row mb-4">
                <div class="col-md-12">
                    <h3>Detalle Neumático</h3>
                </div>
             
            </div>

            <form id="nuevoNeumaticoForm" enctype="multipart/form-data" method="post" action="@Url.Action("EditarNeumatico")">


                <div class="row">
                    <div class="col-sm-6">
                        <label class="form-label">Marca</label>
                        <input type="text" name="ID" value="@Model.ID" class="d-none" />
                        <select class="form-control" name="IDMarca">
                            <option value="">
                                -Seleccionar-
                            </option>
                            @foreach (var item in Model.Marcas)
                            {
                                if (item.Value == Model.IDMarca)
                                {
                                    <option selected value="@item.Value">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Modelo</label>
                        <select class="form-control" name="IDModelo">
                            <option value="">
                                -Seleccionar-
                            </option>
                            @foreach (var item in Model.Modelos)
                            {
                                if (item.Value == Model.IDModelo)
                                {
                                    <option selected value="@item.Value">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-4">
                        <label class="form-label">Aro</label>
                        <select class="form-control" name="IDAro">
                            <option value="">
                                -Seleccionar-
                            </option>
                            @foreach (var item in Model.Aros)
                            {
                                if (item.Value == Model.IDAro.ToString())
                                {
                                    <option selected value="@item.Value">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }

                        </select>

                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">Ancho</label>
                        <select class="form-control" name="IDAncho">
                            <option value="">
                                -Seleccionar-
                            </option>
                            @foreach (var item in Model.Anchos)
                            {
                                if (item.Value == Model.IDAncho.ToString())
                                {
                                    <option selected value="@item.Value">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }

                        </select>

                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">Perfil</label>
                        <select class="form-control" name="IDPerfil">
                            <option value="">
                                -Seleccionar-
                            </option>
                            @foreach (var item in Model.Perfiles)
                            {
                                if (item.Value == Model.IDPerfil.ToString())
                                {
                                    <option selected value="@item.Value">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }

                        </select>

                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-sm-2">
                        <label class="form-label">Índice V.</label>
                        <input type="text" value="@Model.IndiceV" class="form-control" name="IndiceV" />

                    </div>
                    <div class="col-sm-2">
                        <label class="form-label">V. Máx</label>
                        <input class="form-control" name="VMax" value="@Model.VMax" />

                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Carga Máx.</label>
                        <input class="form-control" name="Carga" value="@Model.Carga" />

                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Origen</label>
                        <input type="text" class="form-control" name="Origen" value="@Model.Origen" />

                    </div>
                    <div class="col-sm-2">
                        <label class="form-label">P. Aire</label>
                        <input type="text" class="form-control" name="PAire" value="@Model.PAire" />

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <label class="form-label">Descripción</label>
                        <textarea class="form-control" name="Descripcion">@Model.Descripcion</textarea>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-outline-success" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="row mb-4">
                <div class="col-md-4">
                    <h3 class="text-center">Imágenes</h3>
                </div>
                <div class="col-md-8">
                    <div id="nofotoDiv" class="row d-none">
                        <div class="col-md-12">
                            <h3 style="color:red">Debe escoger al menos una foto </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="fotosDiv">
                        @{ var arreglo = Model.Fotos.ToArray();
                            int i = 0;

                            while (i < arreglo.Length)
                            {
                                <div class="row mb-3">


                                    @{ int j = 0;
                                        while (j < 3 && i < arreglo.Length)
                                        {
                                            <div class="col-md-4">
                                                <div class="row" style="height:48px">
                                                    <div class="col-md-12 text-center">
                                                        @arreglo[i].Nombre
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="d-flex justify-content-end foto" style="background-image:url(@arreglo[i].URL);background-size:200px 228px;height:228px;width:200px;background-repeat:no-repeat">
                                                            <div>
                                                                <img class="zoomFoto" data-url="@arreglo[i].URL" src="~/Content/Pictures/lupa.png" style="background-color:white;border-radius:25px;margin-right:2px" />
                                                            </div>
                                                        </div>
                                                        @*<img class="foto" src="@arreglo[i].URL" height="228" width="200" id="@("foto" + i)" />*@
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 mt-1 d-flex justify-content-center ">
                                                        <div class="form-check">
                                                            @{
                                                                if (Model.NeumaticoFotoList.Any(x => x.IDFoto == arreglo[i].ID))
                                                                {
                                                                    <input checked class="form-check-input" type="checkbox" value="" id="flexCheckDefault" data-idfoto="@arreglo[i].ID">
                                                                }
                                                                else
                                                                {
                                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" data-idfoto="@arreglo[i].ID">
                                                                }
                                                            }


                                                            <label class="form-check-label" for="flexCheckDefault">
                                                                Seleccionar
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            i++;
                                            j++;
                                        }
                                    }

                                </div>

                            }






                        }
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>



<script>
    $(document).on('change','select[name="IDMarca"]', function (e) {
        var idm = $(this).val();
        $.ajax({
            type: "POST",
            url: "/AdminServAuto/getModelsAsync/",
            data: { idmarca:idm },
            dataType: "json",
            success: function (data) {
                var select = $('select[name="IDModelo"]');
                select.find('option').not(':first').remove();
                $(data).each(function (i, item) {
                    select.append('<option value='+ item.Value +'>'+ item.Text +'</option>')
                })

            }
        });

    });

    $(document).on('change', '.form-check-input', function (e) {
        var data = $(this).data('idfoto');
        $('input[name="IDFoto"]').val(data);
    });

    $(document).ready(function () {
        $('#nuevoNeumaticoForm').validate({
            rules: {
                IDMarca: "required",
                IDModelo: "required",
                IDAro: "required",
                IDAncho: "required",
                IDPerfil: "required"

            },
            messages: {
                IDMarca: "Debe escoger una marca",
                IDModelo: "Debe escoger un modelo",
                IDAro: "Debe escoger aro",
                IDAncho: "Debe escoger ancho",
                IDPerfil: "Debe escoger perfil"
            },
            submitHandler: function (form) {
                if (ids.length == 0) {
                    $('#nofotoDiv').removeClass('d-none');
                    $('#fotosDiv').addClass('errorDiv');
                }
                else {
                    var fotoprod = [];
                    for (var i = 0; i < ids.length; i++) {
                        var item = { IDFoto: ids[i] }
                        fotoprod.push(item);
                    }
                    var model = {
                        
                        IDMarca: $('select[name="IDMarca"]').val(),
                        ID:$('input[name="ID"]').val(),
                        IDModelo: $('select[name="IDModelo"]').val(),
                        IDAro: $('select[name="IDAro"]').val(),
                        IDAncho: $('select[name="IDAncho"]').val(),
                        IDPerfil: $('select[name="IDPerfil"]').val(),
                        IndiceV: $('input[name="IndiceV"]').val(),
                        VMax: $('input[name="VMax"]').val(),
                        Carga: $('input[name="Carga"]').val(),
                        Origen: $('input[name="Origen"]').val(),
                        PAire: $('input[name="PAire"]').val(),
                        Descripcion: $('textarea[name="Descripcion"]').val(),
                        NeumaticoFotoList: fotoprod
                    };
                    $.ajax({
                        type: "POST",
                        url: "/AdminServAuto/EditarNeumatico",
                        data: JSON.stringify(model),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (response) {
                            if (response == "OK") {
                                window.location.replace("/AdminServAuto/ListaNeumaticos");
                            }
                            else {
                                window.location.replace(`/Errores/VistaError?Mensaje=${response}`);
                            }
                        }
                    });
                }

            },


        });
    })
    function checked() {

        if (ids.length > 0) {
            $('.form-check-input').each(function (i, item) {

                var id = $(item).data('idfoto');
                var index = ids.indexOf(id);
                if (index > -1) {
                    $(item).prop('checked', true);
                }
            });
        }
    }
    var ids = [];
    $(document).on('change', '.form-check-input', function () {

        var $this = $(this);

        if (ids.length == 0) {

            var newid = $this.data('idfoto');
            ids.push(newid);
            $('#nofotoDiv').addClass('d-none');
            $('#fotosDiv').removeClass('errorDiv');
        }
        else {


            if ($this.prop('checked')) {

                var newid = $this.data('idfoto');
                ids.push(newid);
                $('#nofotoDiv').addClass('d-none');
            }
            else {
                var id = $this.data('idfoto');
                var index = ids.indexOf(id);
                if (index > -1) {
                    ids.splice(index, 1);

                }

            }
        }

    });
    $(document).ready(function () {
        $('.form-check-input').each(function (i, item) {
            var $item = $(item);
            if ($item.is(':checked')) {
                var newid = $item.data('idfoto');
                ids.push(newid);
            }
        });

    });
</script>

