@model BibliotecaDeClases.Modelos.ServicioAutomotriz.PromocionModel

@{
    ViewBag.Title = "Nueva Promoción";
}

<h2 class="text-center">Nueva Promoción</h2>
<div class="container-fluid">
    <form enctype="multipart/form-data" method="post" action="@Url.Action("NuevaPromocion")">
        <div class="row">
            <div class="col-md-8">
                <label class="form-label">
                    Título
                </label>
                <input type="text" name="Titulo" class="form-control" />
            </div>
            <div class="col-md-4">
                <label class="form-label">
                    Precio
                </label>
                <input type="text" name="Precio" class="form-control" />
            </div>
            <div class="col-md-12">
                <label class="form-label">
                    Descripción
                </label>
                <textarea class="form-control" rows="2" name="Descripcion"></textarea>
            </div>
            <div class="col-md-12">
                <label class="form-label">Foto</label>
                <input type="file" placeholder="Foto" name="Foto" class="form-control" />
                <input type="text" class="d-none" name="IDFoto" />
            </div>
            <div class="col-md-12 mt-3">
                <input type="submit" class="btn btn-outline-success" />
            </div>
        </div>

    </form>

</div>
<div class="container-fluid">
    @{var k = 0;
        var array = Model.Fotos.ToArray();
        if (array.Length > 6)
        {
            for (int i = 0; i < Math.Ceiling(Convert.ToDecimal(array.Length) / 6); i++)
            {
                <div class="row mt-4">


                    @for (int j = 0; j < 6; j++)
                    {
                        if (k < array.Length)
                        {
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-header headerprograma fw-bold" style="font-size:11px">
                                        @(array[j].Nombre)
                                    </div>
                                    <div class="card-body" style="font-size:11px">
                                        <img src="@array[j].URL" width="150" height="150" />
                                    </div>
                                    <div class="card-footer text-end">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Checked checkbox
                                            </label>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            k = k + 1;
                        }


                    }
                </div>
            }
        }
        else
        {
            <div class="row mt-4">


                @for (int j = 0; j < array.Length; j++)
                {


                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-header" style="font-size:10px!important">
                                @(array[j].Nombre)
                            </div>
                            <div class="card-body">
                                <img src="@array[j].URL" width="150" height="150" />

                            </div>
                            <div class="card-footer text-end">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" data-idfoto="@array[j].ID">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Selecionar
                                    </label>
                                </div>
                            </div>
                        </div>



                    </div>




                }
            </div>
        }

    }
</div>

<script>
    $(document).on('change', '.form-check-input', function (e) {
        var data = $(this).data('idfoto');
        $('.form-check-input').not(this).each(function (i, item) {
            $(item).prop('checked', "");
        });
        $('input[name="IDFoto"]').val(data);
        $('input[name="Foto"]').val("");
      
    });
    $(document).on('change', 'input[name="Foto"]', function () {
        $('.form-check-input').each(function (i, item) {
            $(item).prop('checked', "");
        });
    });

</script>